@font-face {
	font-family: 'Bubbles';
	src: url(../assets/fonts/FuzzyBubbles-Bold.ttf) format('truetype');
	font-weight: 700;
}
@font-face {
	font-family: 'Bubbles';
	src: url(../assets/fonts/FuzzyBubbles-Regular.ttf);
	font-weight: 400;
}
$background: #57407c;